redditClientID=<redditClientID>
redditSecret=<redditSecret>
redditUsername=<yourRedditUsername>
redditPassword=<yourRedditPassword>
gmailUsername=<yourGmailUsername>
gmailPassword=<yourGmailPassword>
